.careerScreenWrapper {
    padding-left: 20%;
    padding-right: 20%;
}

.skillScreenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.contentsColumn {
    display: flex;
    flex-direction: column;
}

.contentsRow {
    display: flex;
    flex-direction: row;
}