.container {
    padding-left: 20%;
    padding-right: 20%;
}

.contents {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}