body {
  margin: 0;
  /* font-family: monospace; */
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #282c34;
}

h1::before {
  content: 'Brayden Klemens';
  position: absolute;
  color: #fff;
  width:100%;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 3px solid #fff; */
  animation: animate 4s ease-out;
}

@keyframes animate {
  0%, 10% ,100%
  {
    width: 0;
  }
  70%, 90%, 100%
  {
    width: 100%;
  }
}


